body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
    margin: 8px 20px;
}

.flex-container {
    display: flex;
    
}

.breadcrumb {
    font-size: 12px;
    color: #565959;
}